* {
    box-sizing: border-box;
}

header{
    background-color: #212121;
    color: #FFFFFF ;
}

header>div>h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s; 
    margin: 0 auto;
}

header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>div>img:hover{
    position: relative;
    animation-name: ballAnimation;
    animation-duration: 4s;
}

@keyframes ballAnimation {
    from   {left:0px; top:0px;}
    to {left:600px; top:0px;}
}

header>div>h1:hover{
    transform: rotate(180deg);
}


footer{
    background-color: #212121;
    color: #FFFFFF;
    margin-top: auto;
}

footer>p{
    margin-left: 10px;
}

body{
    color: #222222;
    background-color: #388E3C;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContainer{
    /* Will return here */
}

main{
    margin-left: 6px;
    background-color: #388E3C;
    color: #222222;
}

main>p:first-of-type::first-letter{
    font-size: xx-large;
}

main>section>h3{
    background-color: #2E7D32;

}

nav {
    background-color: #1B5E20;
    display: flex;
    justify-content: center;
    margin  : 0px;
    padding: 10px;
}

nav>a{
    text-decoration: none;
    background-color: #212121;
    color: #FFFFFF;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, height 3s;
    margin-right: 10px; 
}

nav>a:hover{
    background-color: #388E3C;
    color: #222222;
    height: 32px;
}

.container{
    display: flex;
}

.aboutFifa{
    flex:1;
}

.createTeam{
    flex:1;
}

table{
    border-collapse: collapse;
    border: 3px solid #000000;
}

th{
    background-color: #1B5E20;
    color: #EEEEEE;
    padding: 6px;
    text-align: left;
}

tr:nth-child(even){
    background-color: #AAAAAA;
}

tr:hover{
    background-color: #1B5E20;
    color: #FFFFF0;
}

form>fieldset{
    border: 4px solid #1B5E20;
    border-radius: 4px;
    font-size:large;
}

label{
    display: inline-block;
    width: 125px;
    padding: 8px 0px 8px 0px;
}

input, select{
    background-color: #1B5E20;
    color: #90EE90;
    border-radius: 4px;
    border: 2px solid #000000;
    margin: 4px;
}

textarea{
    background-color: #1B5E20;
    color: #90EE90;
    width: 75%;
    margin: 0px 0px 0px 4px;
    padding: 8px 0px 8px 0px;
    border-radius: 4px;
    border: 2px solid #000000;
}

.radioButton{
    margin-left: 20px;
}

.radioButton>label{
    width: 300px;
}

input[type=submit],input[type=button]{
    background-color: #212121;
    color: #FFFFFF;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

input[type=submit],input[type=button]:hover{
    background-color: #1B5E20;
    color: #000000;
}

.bestTeams{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 150px;
}

iframe{
    border: none;
    border-radius: 5px;
}



.videoGallery{
    display: flex;
    justify-content: center;
}

.videoGallery>div{
    margin-left: 20px;
}

.invatTable,.checkAccountForm, .purchasesBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.purchasesForm{
    display: inline-flex;
}